body {
  background: #fafafa;
  color: #333333;
  margin-top: 5rem;
}

h1, h2, h3, h4, h5, h6 {
  color: #444444;
}

ul {
  margin: 0;
}

.bg-steel {
  background-color: #83159e;
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.kennel-section {
  background: #ffffff;
  border: 1px solid #000000;
  border-radius: 3px;
  margin-bottom: 20px;
}

.task-section {
  background: #ffffff;
  padding: 5px 10px 0px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 0px;
  margin-left: 0px;
}

.article-title {
  color: #444444;
}

.solid {
  border-top: 0.5px solid rgb(207, 207, 207);
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}


/*////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/* Dropdown Button */
.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3e8e41;}


/*/////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.button {
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button2 {
  background-color: #5f788a; 
  width: 100px;
  color: white; 
  border: 2px solid #5f788a;
}

.button2:hover {
  background-color: #3d4f5c;
  color: white;
}

.button3 {
  background-color: #5f788a; 
  width: 160px;
  color: white; 
  border: 2px solid #5f788a;
}

.button3:hover {
  background-color: #3d4f5c;
  color: white;
}

.button4 {
  background-color: #83159e; 
  width: 140px;
  color: white; 
  border: 2px solid #83159e;
}

.button4:hover {
  background-color: #550f66;
  color: white;
}

.button5 {
  background-color: #5c5c5c; 
  width: 200px;
  margin-top: 10px;
  color: white; 
  border: 2px solid #5c5c5c;
}

.button5:hover {
  background-color: #550f66;
  color: white;
}

.button6 {
  background-color: #83159e; 
  width: 240px;
  color: white; 
  border: 2px solid #83159e;
}

.button6:hover {
  background-color: #550f66;
  color: white;
}

.fa-pencil {
  color: darkcyan;
}

.fa-pencil:hover {
  color: #244d6d;
  text-decoration: none;
}

.fa-trash {
  color: red;
}

.fa-trash:hover {
  color: darkred;
  text-decoration: none;
}