{% extends "panels/employee_panel_base.html" %}
{% load crispy_forms_tags %}

{% block info %}
<div class="col-md-12">
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Add a Task</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Save</button>
            </div>
        </form>
    </div>
</div>
{% endblock info %}