{% extends "mainsite/base.html" %}
{% block content %}
    <div class="row">
        <div class="col-md-4">
            <div class="content-section">
                <div class="row">
                    <div class="col" align="right">
                        <img class="rounded-circle account-img" style="height: 100px; width: 100px; margin-right: 0px; margin-top: 10px; margin-bottom: 10px;" src="{{ user.profile.profile_image.url }}">
                    </div>
                    <div class="col" align="left">
                        {% if user.profile.employee_role == 0 %}
                            <img class="rounded-circle account-img" style="height: 100px; width: 100px; margin-top: 10px; margin-bottom: 10px;" src="/media/task_icons/dogWalker.png">
                        {% elif user.profile.employee_role == 1 %}
                            <img class="rounded-circle account-img" style="height: 100px; width: 100px; margin-top: 10px; margin-bottom: 10px;" src="/media/task_icons/management.png">
                        {% elif user.profile.employee_role == 2 %}
                            <img class="rounded-circle account-img" style="height: 100px; width: 100px; margin-top: 10px; margin-bottom: 10px;" src="/media/task_icons/trainer.png">
                        {% elif user.profile.employee_role == 3 %}
                            <img class="rounded-circle account-img" style="height: 100px; width: 100px; margin-top: 10px; margin-bottom: 10px;" src="/media/task_icons/playtimeHandler.png">
                        {% elif user.profile.employee_role == 4 %}
                            <img class="rounded-circle account-img" style="height: 100px; width: 100px; margin-top: 10px; margin-bottom: 10px;" src="/media/task_icons/kennelWrangler.png">
                        {% else %}
                        {% endif %}
                    </div>
                </div>
                <h4 align="center" style="color: #83159e;">{{ user.profile.first_name }}</h4>
                <div class="row">
                    <div class="col">
                    </div>
                    <div class="col" style="margin-left: 28px;">
                        <a align="center" href="#" class="fa fa-th-list" style="color: #ba4bd6;"></a>
                        <a align="center" href="#" class="fa fa-wechat" style="margin-left: 10px; color: #ba4bd6;"></a>
                    </div>
                    <div class="col">
                    </div>
                    <hr class="solid">
                </div>
                {% for task in tasks %}
                    <div class="task-section">
                            {% if task.completed == True %}
                            <p style="margin-bottom: 5px; color: rgb(177, 177, 177);"><del>
                                <a href="#" class="fa fa-check-square-o" style="margin-right: 3px; color: rgb(177, 177, 177);"></a>
                                <a href="#" style="color: rgb(177, 177, 177);">{{ task.title }} </a>
                                ({{ task.startTime|date:"g:i A" }}
                                {% if task.endTime %} - {{ task.endTime|date:"g:i A" }}{% endif %})</del></p>
                            {% else %}
                            <p style="margin-bottom: 5px;">
                                <a href="{% url 'employee-task-mark-completed' task.slug %}" class="fa fa-square-o" style="color: #505050; margin-right: 3px;"></a>
                                <a href="#" style="color: black;">{{ task.title }} </a>
                                ({{ task.startTime|date:"g:i A" }}
                                {% if task.endTime %} - {{ task.endTime|date:"g:i A" }}{% endif %})</p>
                            {% endif %}
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="col-md-8">
            <div class="content-section">
                <div class="row" syle="margin-left: 3px;">
                    <a href="{% url 'employee-home' %}"><button class="btn button4">Kennels</button></a>
                    <a href="{% url 'employee-playground-view' %}"><button class="btn button4">Playgrounds</button></a>
                    <a href="{% url 'employee-tasks' %}"><button class="btn button4">Task Detail</button></a>
                    <a href="{% url 'employee-dog' %}"><button class="btn button4">Dogs</button></a>
                    <a href="{% url 'employee-admin-review-reservations' %}"><button class="btn button4">Admin</button></a>
                </div>
                {% block info %}{% endblock info %}
            </div>
        </div>
    </div>

{% endblock content %}