{% extends "panels/employee_panel_base.html" %}
{% block info %}
    <div class="row">
        <div class="col" align="center"><a href="{% url 'employee-admin-review-reservations' %}"><button class="btn button5">Boarding Reservations</button></a></div>
        <div class="col" align="center"><a href="#"><button class="btn button5">Daycare Reservations</button></a></div>
    </div>
    {% block minipanel %}{% endblock minipanel %}
{% endblock info %}