{% extends "panels/employee_panel_base.html" %}
{% block info %}
<div class="col-md-12">
    <row>
        <div class="row" style="margin-top: 20px;">
            {% for kennel in rangeOne %}
                {% if kennel.currentlyOccupied %}
                <div class="col" style="border: 1px solid #2e2e2e;">
                    <h6 style="color: #a0a0a0">{{ kennel.kennelNum }}</h6>
                    <img class="rounded-circle account-img" style="height: 100px; width: 100px; margin-left: auto; margin-right: auto; display: block; margin-bottom: 2px;" src="{{ kennel.currentReservation.dog.image.url }}">
                    <h5 align="center">{{ kennel.currentReservation.dog.nickName }}</h5>
                    {% if kennel.currentReservation.status == 0 %}
                        <div class="row" style="background: lightgreen; border: 1px solid rgb(110, 199, 110); height: 30px; width: 60px; margin-left: 26px; margin-bottom: 20px;">
                            <a class="fa fa-check" style="color: white; margin-top: 5px; margin-left: 22px;"></a>
                        </div>
                    {% elif kennel.currentReservation.status == 1 %}
                        <div class="row" style="background: #f5d273; border: 1px solid #bd9f4f; height: 30px; width: 60px; margin-left: 26px; margin-bottom: 20px;">
                            <a class="fa fa-warning" style="color: white; margin-top: 5px; margin-left: 22px;"></a>
                        </div>
                    {% elif kennel.currentReservation.status == 2 %}
                        <div class="row" style="background: #f57373; border: 1px solid #d15c5c; height: 30px; width: 60px; margin-left: 26px; margin-bottom: 20px;">
                            <a class="fa fa-warning" style="color: white; margin-top: 5px; margin-left: 22px;"></a>
                        </div>
                    {% endif %}
                </div>
                {% else %}
                    <div class="col" style="border: 1px solid #2e2e2e; padding-bottom:125px; padding-left: 5px">
                            <h6 style="color: #a0a0a0">{{ kennel.kennelNum }}</h6>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        <div class="row" style="border: 1px solid #2e2e2e; padding:20px;">
            {% for user in kennelWrangler %}
                <div class="col">
                    <img class="rounded-circle account-img" style="height: 100px; width: 100px; margin-bottom: 2px;" src="{{ user.profile_image.url }}">
                    <h5 style="margin-left: 25px;">{{ user.first_name }}</h5>
                </div>
            {% endfor %}
        </div>
        <div class="row">
            {% for kennel in rangeTwo %}
                {% if kennel.currentlyOccupied %}
                    <div class="col" style="border: 1px solid #2e2e2e;">
                        <h6 style="color: #a0a0a0">{{ kennel.kennelNum }}</h6>
                        <img class="rounded-circle account-img" style="height: 100px; width: 100px; margin-left: auto; margin-right: auto; display: block; margin-bottom: 2px;" src="{{ kennel.currentReservation.dog.image.url }}">
                        <h5 align="center">{{ kennel.currentReservation.dog.nickName }}</h5>
                        {% if kennel.currentReservation.status == 0 %}
                            <div class="row" style="background: lightgreen; border: 1px solid rgb(110, 199, 110); height: 30px; width: 60px; margin-left: 26px; margin-bottom: 20px;">
                                <a class="fa fa-check" style="color: white; margin-top: 5px; margin-left: 22px;"></a>
                            </div>
                        {% elif kennel.currentReservation.status == 1 %}
                            <div class="row" style="background: #f5d273; border: 1px solid #bd9f4f; height: 30px; width: 60px; margin-left: 26px; margin-bottom: 20px;">
                                <a class="fa fa-warning" style="color: white; margin-top: 5px; margin-left: 22px;"></a>
                            </div>
                        {% elif kennel.currentReservation.status == 2 %}
                            <div class="row" style="background: #f57373; border: 1px solid #d15c5c; height: 30px; width: 60px; margin-left: 26px; margin-bottom: 20px;">
                                <a class="fa fa-warning" style="color: white; margin-top: 5px; margin-left: 22px;"></a>
                            </div>
                        {% endif %}
                    </div>
                {% else %}
                    <div class="col" style="border: 1px solid #2e2e2e; padding-bottom:125px; padding-left: 5px">
                            <h6 style="color: #a0a0a0">{{ kennel.kennelNum }}</h6>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
</div>
{% endblock info %}