{% extends "panels/employee_panel_base.html" %}
{% block info %}
                <div class="row" style="margin-top: 30px;">
                    <div class="col">
                        <div class="row-md-3">
                            <div class="content-section" style="margin-bottom: 0px; padding-left: 0px; padding-top: 2px; padding-bottom: 2px; background-color: #ba4bd6; outline-color: #ba4bd6;">
                                <h4 style="margin-left: 10px; margin-bottom: 0px; margin-top: 0px; color: white;">DAYCARE</h4>
                            </div>
                        </div>
                        {% for reservation in daycaredogs %}
                            <div class="row-md-3">
                                <div class="content-section" style="margin-bottom: 0px; padding-left: 2px;">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <img class="account-img" style="height: 100px; width: 100px; margin-top: 2px; margin-bottom: 2px; margin-left:8px;" src="{{ reservation.dog.image.url }}">
                                        </div>
                                        <div class="col">
                                            <h4 style="margin-bottom: 3px;">{{ reservation.dog.nickName }}
                                                {% if reservation.dog.gender == 1 or reservation.dog.gender == 3 %}
                                                    <a align="right" href="#" class="fa fa-mars" style="margin-left: 80px; color: #afaeae;"></a>
                                                {% else %}
                                                    <a align="right" href="#" class="fa fa-venus" style="margin-left: 90px; margin-right: 0px; color: #afaeae;"></a>
                                                {% endif %}
                                            </h4>
                                            <h6 style="color: #929292; margin-top: 2px; margin-bottom: 0px;">{{ reservation.dropoffTime|date:"g:i A" }} - {{ reservation.pickupTime|date:"g:i A" }}</h6>
                                            <p style="margin-top: 2px;"></br>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="col">
                        <div class="row-md-3">
                            <div class="content-section" style="margin-bottom: 0px; padding-left: 0px; padding-top: 2px; padding-bottom: 2px; background-color: #ba4bd6; outline-color: #ba4bd6;">
                                <h4 style="margin-left: 10px; margin-bottom: 0px; margin-top: 0px; color: white;">BOARDING</h4>
                            </div>
                        </div>
                        {% for reservation in boardingdogs %}
                            <div class="row-md-3">
                                <div class="content-section" style="margin-bottom: 0px; padding-left: 2px;">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <img class="account-img" style="height: 100px; width: 100px; margin-top: 2px; margin-bottom: 2px; margin-left:8px;" src="{{ reservation.dog.image.url }}">
                                        </div>
                                        <div class="col">
                                            <h4 style="margin-bottom: 3px;"><a href="{% url 'employee-dog-detail' reservation.dog.slug %}" style="color: black;">{{ reservation.dog.nickName }}</a>
                                                {% if reservation.dog.gender == 1 or reservation.dog.gender == 3 %}
                                                    <a align="right" href="#" class="fa fa-mars" style="margin-left: 70px; color: #afaeae;"></a>
                                                {% else %}
                                                    <a align="right" href="#" class="fa fa-venus" style="margin-left: 100px; margin-right: 0px; color: #afaeae;"></a>
                                                {% endif %}
                                            </h4>
                                            <h6 style="color: #929292; margin-top: 2px; margin-bottom: 0px;">{{ reservation.startDate|date:"M j" }} - {{ reservation.endDate|date:"M j" }}</h6>
                                            <p style="margin-top: 2px;"> </br>
                                                </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
{% endblock info %}