{% extends "panels/employee_panel_base.html" %}
{% block info %}
    <div class="row">
        <div class="col" align="center"><a href="{% url 'employee-task-create-view' %}"><button class="btn button5">Add Task</button></a></div>
    </div>
    <div class="row" style="margin-top: 10px;">
                    <div class="col">
                        {% for task in tasks %}
                            <div class="row-md-9">
                                <div class="content-section" style="margin-bottom: 0px; padding-left: 20px;">
                                    <div class="row">
                                        <div class="col-md-10">
                                            {% if task.completed == True %}
                                                <p style="margin-bottom: 5px; color: rgb(177, 177, 177);"><del>
                                                    <a href="#" class="fa fa-check-square-o" style="margin-right: 3px; color: rgb(177, 177, 177);"></a>
                                                    <a href="#" style="color: rgb(177, 177, 177);">{{ task.title }} </a>
                                                    ({{ task.startTime|date:"g:i A" }}
                                                    {% if task.endTime %} - {{ task.startTime|date:"g:i A" }}{% endif %})</del></p>
                                            {% else %}
                                                <p style="margin-bottom: 5px;"></p>
                                                    <div class="col-md-2">
                                                        <a href="{% url 'employee-task-mark-completed' task.slug %}" class="fa fa-square-o" style="color: #505050; margin-right: 3px;"></a>
                                                    </div>
                                                    <div class="col">
                                                        <h5>{{ task.title }} </h5>
                                                        ({{ task.startTime|date:"g:i A" }}
                                                        {% if task.endTime %} - {{ task.startTime|date:"g:i A" }}{% endif %}) </br>
                                                        {{ task.description }}
                                                        <a style="float:right" href="{% url 'employee-task-edit' task.slug %}" class="fa fa-pencil"></a>
                                                        <a style="float:right" href="{% url 'employee-task-delete' task.slug %}" class="fa fa-trash"></a>
                                                    </div>
                                                </p>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
        </div>
{% endblock info %}