{% extends "panels/employee_admin_panel.html" %}
{% block minipanel %}
                <div class="row">
                    <div class="col">
                        <div class="row-md-3">
                            <div class="content-section" style="margin-top: 5px; margin-bottom: 5px; padding-left: 0px; padding-top: 2px; padding-bottom: 2px; background-color: #ba4bd6; outline-color: #ba4bd6;">
                                <h5 style="margin-left: 10px; margin-bottom: 0px; margin-top: 0px; color: white;">PENDING APPROVAL</h5>
                            </div>
                        </div>
                        {% for reservation in boardingReservations %}
                            <div class="row-md-9">
                                <div class="content-section" style="margin-bottom: 0px; padding-left: 2px;">
                                    <div class="row">
                                        <div class="col-md-2">
                                            <img class="account-img" style="height: 100px; width: 100px; margin-top: 2px; margin-bottom: 2px; margin-left:8px;" src="{{ reservation.dog.image.url }}">
                                        </div>
                                        <div class="col-md-10">
                                            <h4 style="margin-bottom: 3px;"><a href="{% url 'employee-dog-detail' reservation.dog.slug %}" style="color: black;">{{ reservation.dog.nickName }}</a>
                                            </h4>
                                            <h6 style="color: #929292; margin-top: 2px; margin-bottom: 0px;">{{ reservation.dropoffTime }} {{ reservation.startDate|date:"M j, Y" }} - {{ reservation.pickupTime }} {{ reservation.endDate|date:"M j, Y" }}</h6>
                                            <p style="margin-top: 2px;">
                                                {{ reservation.dog.breed }} | {{ reservation.dog.get_gender_display }} | DOB: {{ reservation.dog.birthdate }} | {{ reservation.dog.weight }} lbs</br>
                                                <b>Owner:</b> {{ reservation.dog.owner.profile.first_name }} {{ reservation.dog.owner.profile.last_name }} | {{ reservation.dog.owner.profile.phone_number }}</br>
                                                {% if reservation.notes %}
                                                    <b>Notes from Owner:</b> {{ reservation.notes }}
                                                {% endif %}
                                            </p>
                                            <a align="right" href="{{ reservation.get_kudos_url }}" class="fa fa-check" style="margin-left: 500px; color: green;"></a>
                                            <a align="right" href="#" class="fa fa-times" style="margin-left: 10px; color: red;"></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}

                        <div class="row-md-3">
                            <div class="content-section" style="margin-top: 5px; margin-bottom: 5px; padding-left: 0px; padding-top: 2px; padding-bottom: 2px; background-color: #ba4bd6; outline-color: #ba4bd6;">
                                <h5 style="margin-left: 10px; margin-bottom: 0px; margin-top: 0px; color: white;">UPCOMING RESERVATIONS</h5>
                            </div>
                        </div>
                        {% for reservation in upcomingReservations %}
                            <div class="row-md-9">
                                <div class="content-section" style="margin-bottom: 0px; padding-left: 2px;">
                                    <div class="row">
                                        <div class="col-md-2">
                                            <img class="account-img" style="height: 100px; width: 100px; margin-top: 2px; margin-bottom: 2px; margin-left:8px;" src="{{ reservation.dog.image.url }}">
                                        </div>
                                        <div class="col-md-10">
                                            <h4 style="margin-bottom: 3px;"><a href="{% url 'employee-dog-detail' reservation.dog.slug %}" style="color: black;">{{ reservation.dog.nickName }}</a>
                                            </h4>
                                            <h6 style="color: #929292; margin-top: 2px; margin-bottom: 0px;">{{ reservation.dropoffTime }} {{ reservation.startDate|date:"M j, Y" }} - {{ reservation.pickupTime }} {{ reservation.endDate|date:"M j, Y" }}</h6>
                                            <p style="margin-top: 2px;">
                                                {{ reservation.dog.breed }} | {{ reservation.dog.get_gender_display }} | DOB: {{ reservation.dog.birthdate }} | {{ reservation.dog.weight }} lbs</br>
                                                <b>Owner:</b> {{ reservation.dog.owner.profile.first_name }} {{ reservation.dog.owner.profile.last_name }} | {{ reservation.dog.owner.profile.phone_number }}</br>
                                                {% if reservation.notes %}
                                                    <b>Notes from Owner:</b> {{ reservation.notes }}
                                                {% endif %}
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
{% endblock minipanel %}