{% extends "panels/employee_panel_base.html" %}
{% block info %}
    <div class="row">
        <div class="col" align="center"><a href="{% url 'employee-task-create-view' %}"><button class="btn button5">Add Task</button></a></div>
    </div>
    <div class="row" style="margin-top: 10px;">
        <div class="col">
            <div class="row-md-9">
                <div class="content-section" style="margin-bottom: 0px; padding-left: 20px;">
                    <div class="row">
                        <div class="col-md-10">
                            <p style="margin-bottom: 5px;"></p>
                            <form method="POST" enctype="multipart/form-data">
                                {% csrf_token %}
                                <fieldset class="form-group">
                                    <legend class="border-bottom mb-4">Edit Task</legend>
                                    {{ form|crispy }}
                                </fieldset>
                                <div class="form-group">
                                    <button class="btn btn-outline-info" type="submit">Save</button>
                                </div>
                            </form>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock info %}