{% extends "panels/employee_panel_base.html" %}
{% block info %}
<div class="col-md-12">
    {% for playground in playgrounds %}
        <h4 style="margin-top: 50px;"">Playground {{ playground.playgroundNum }}</h4>
        <div class="row" style="border: 1px solid #2e2e2e; padding: 10px;">
            {% if playground.employee %}
                    <div class="row">
                        <div class="col" style="margin-top: 10px; margin-right: 40px;">
                            <img class="rounded-circle account-img" style="height: 100px; width: 100px; margin-left: auto; margin-right: auto; display: block; margin-bottom: 2px;" src="{{ playground.employee.profile.profile_image.url }}">
                            <h5 align="center">{{ playground.employee.profile.first_name }}</h5>
                        </div>
                    </div>
            {% endif %}
            <div class="row">
                {% for reservation in reservations %}
                    {% if reservation.playground == playground %}
                        <div class="col" style="margin-top: 10px;">
                            <img class="rounded-circle account-img" style="height: 100px; width: 100px; margin-left: auto; margin-right: auto; display: block; margin-bottom: 2px;" src="{{ reservation.dog.image.url }}">
                            <h5 align="center">{{ reservation.dog.nickName }}</h5>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    {% endfor %}
</div>
{% endblock info %}