{% extends "mainsite/base.html" %}
{% block content %}
    <div class="row">
        <div class="col-md-4">
            <div class="content-section">
                <div class="row">
                    <div class="col" align="right">
                        <img class="rounded-circle account-img" style="height: 100px; width: 100px; margin-right: 0px; margin-top: 10px; margin-bottom: 10px;" src="{{ user.profile.profile_image.url }}">
                    </div>
                    <div class="col" align="left">
                        <img class="rounded-circle account-img" style="height: 100px; width: 100px; margin-top: 10px; margin-bottom: 10px;" src="/media/task_icons/management.png">
                    </div>
                </div>
                <h4 align="center" style="color: #83159e;">{{ user.profile.first_name }}</h4>
                <div class="row">
                    <div class="col">
                    </div>
                    <div class="col" style="margin-left: 28px;">
                        <a align="center" href="#" class="fa fa-th-list" style="color: #ba4bd6;"></a>
                        <a align="center" href="#" class="fa fa-wechat" style="margin-left: 10px; color: #ba4bd6;"></a>
                    </div>
                    <div class="col">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="content-section">
                <div class="row">
                    <button class="btn button4">Kennel View</button>
                    <button class="btn button4">Playground View</button>
                    <button class="btn button4">Facility View</button>
                    <button class="btn button4">Task Detail</button>
                    <button class="btn button4">Dogs</button>
                    <button class="btn button4">Admin</button>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}