{% extends "mainsite/base.html" %}

{% block content %}
<div class="col-md-12">
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Delete a Dog</legend>
                <h2>Are you sure you want to delete {{ object.nickName }}?</h2>
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-danger" type="submit">Yes, Delete</button>
                <a class="btn btn-outline-secondary" href="{% url 'dog-detail' object.slug %}">Cancel</button>
            </div>
        </form>
    </div>
</div>
{% endblock content %}