{% extends "mainsite/base.html" %}
{% block content %}
    <div class="col-md-13">
        <div class="content-section">
            <div class="media">
                <div class="col-md-2" align="center">
                    <img class="rounded-circle account-img" src="{{ object.image.url }}">
                </div>

                <div class="media-body">
                    <h2 class="account-heading">{{ object.nickName }}</h2>
                    <p class="text-secondary">
                        Dog * {{ object.fullName }}</br>
                        {{ object.breed }}
                    </p>
                    
                    <p class="text-secondary">{{ object.user.profile.biography }}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="content-section">
                <h3>Owner</h3>
                <a href="{% url 'user-profile' object.owner.profile.slug %}">{{ object.owner.profile.first_name }} {{ object.owner.profile.last_name }}</a>
                <p class="article-content">
                    {{ object.owner.profile.phone_number }}</p>
                <p class="article-content">{{ object.owner.profile.address }}</p>
            </div>
        </div>
        <div class="col-md-8">
            <div class="content-section">
                <h3>Information</h3>
            </div>
        </div>
    </div>

{% endblock content %}