{% extends "mainsite/base.html" %}
{% block content %}
    <h2>You have been logged out.</h2>
    <div class="border-top pt-3">
        <small class="text-muted">
            <center><a href="{% url 'login' %}">Log In Again</a></center>
        </small>
    </div>
{% endblock content %}