{% extends "mainsite/base.html" %}
{% block content %}

{% if object.user.profile.user_type == 0 %}
    <div class="col-md-13">
        <div class="content-section">
            <div class="media">
                <div class="col-md-2" align="center">
                    <img class="rounded-circle account-img" src="{{ object.user.profile.profile_image.url }}">
                </div>

                <div class="media-body">
                    <h2 class="account-heading">{{ object.user.profile.first_name }}</h2>
                    <p class="text-secondary">
                        facility * {{ object.user.username }}</br>
                    </p>
                    
                    <p class="text-secondary">{{ object.user.profile.biography }}</p>
                </div>
                <small style="float:right">
                    <a href="#"><button class="btn button6">Book Daycare Appointment</button></a>
                    <a href="{% url 'boarding-request' %}"><button class="btn button6">Book Boarding Appointment</button></a>
                </small>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="content-section">
                <h4>Contact</h4>
                <p class="article-content">{{ object.user.profile.phone_number }}</p>
                <p class="article-content">{{ object.user.profile.address }}</p>
                <h6>Hours</h6>
                <p class="text-secondary">Sun 8:00 AM - 12:30 PM <br>
                    Mon 6:30 AM - 6:30 PM <br>
                    Tue 6:30 AM - 6:30 PM <br>
                    Wed 6:30 AM - 6:30 PM <br>
                    Thu 6:30 AM - 6:30 PM <br>
                    Fri 6:30 AM - 6:30 PM <br>
                    Sat 8:00 AM - 5:30 PM
                </p>
            </div>
        </div>
        <div class="col-md-8">
            <div class="content-section">
                <h3>Facility</h3>
            </div>
        </div>
    </div>

{% elif object.user.profile.user_type == 1 %}
    <div class="col-md-13">
        <div class="content-section">
            <div class="media">
                <div class="col-md-2" align="center">
                    <img class="rounded-circle account-img" src="{{ object.user.profile.profile_image.url }}">
                </div>

                <div class="media-body">
                    <h2 class="account-heading">{{ object.user.profile.first_name }} {{ object.user.profile.last_name }}</h2>
                    <p class="text-secondary">
                        employee * {{ object.user.username }}</br>
                    </p>
                    
                    <p class="text-secondary">{{ object.user.profile.biography }}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="content-section">
                <h4>Contact</h4>
                <p class="article-content">{{ object.user.profile.phone_number }}</p>
                <p class="article-content">{{ object.user.profile.address }}</p>
                <hr class="solid">
                <h4>Work Preferences</h4>
                <h6>Roles</h6>
                <p>{{ object.user.profile.get_employee_role_display }}</p>
                <h6>Hours</h6>
                <p class="text-secondary">Sun 8:00 AM - 12:30 PM <br>
                    Mon 6:30 AM - 6:30 PM <br>
                    Tue 6:30 AM - 6:30 PM <br>
                    Wed 6:30 AM - 6:30 PM <br>
                    Thu 6:30 AM - 6:30 PM <br>
                    Fri 6:30 AM - 6:30 PM <br>
                    Sat 8:00 AM - 5:30 PM
                </p>
            </div>
        </div>
        <div class="col-md-8">
            <div class="content-section">
                <h3>Facility</h3>
                <hr class="solid">
                <div class="row">
                    <div class="col-md-3">
                        <img class="rounded-circle account-img" src="{{ object.user.profile.facilityWorksAt.profile.profile_image.url }}">
                    </div>
                    <div class="col">
                        <a href="{% url 'user-profile' object.user.profile.facilityWorksAt.profile.slug %}"><h4>{{ object.user.profile.facilityWorksAt.profile.first_name }} - {{ object.user.profile.facilityWorksAt.username }}</h4></a>
                        <p>{{ object.user.profile.facilityWorksAt.profile.address }}</br>
                            {{ object.user.profile.facilityWorksAt.profile.phone_number }}</br>
                            Manager:
                        </p>
                    </div>
                </div>
                <hr class="solid">
                <h3>Coworkers</h3>
                <hr class="solid">
                {% for user in coworkers %}
                    <div class="row">
                        <div class="col-md-3">
                            <img class="rounded-circle account-img" src="{{ user.profile_image.url }}">
                        </div>
                        <div class="col">
                            <a href="{% url 'user-profile' user.slug %}"><h4>{{ user.first_name }} {{user.last_name}} - {{ user.user.username }}</h4></a>
                            <p>{{ user.address }}</br>
                                {{user.phone_number }}</br>
                            </p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

{% elif object.user.profile.user_type == 2 %}
    <div class="col-md-13">
        <div class="content-section">
            <div class="media">
                <div class="col-md-2" align="center">
                    <img class="rounded-circle account-img" src="{{ object.user.profile.profile_image.url }}">
                </div>

                <div class="media-body">
                    <h2 class="account-heading">{{ object.user.profile.first_name }} {{ object.user.profile.last_name }}</h2>
                    <p class="text-secondary">
                        customer * {{ object.user.username }}</br>
                    </p>
                    
                    <p class="text-secondary">{{ object.user.profile.biography }}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="content-section">
                <h4>Contact</h4>
                <p class="article-content">{{ object.user.profile.phone_number }}</p>
                <p class="article-content">{{ object.user.profile.address }}</p>
            </div>
        </div>
        <div class="col-md-8">
            <div class="content-section">
                <h3>Dogs</h3>
                <div class="row">
                {% for dog in dogs %}
                    <div class="col-md-6">
                        <div class="content-section">
                            <img class="rounded-circle account-img" src="{{ dog.image.url }}">
                            {% if dog.owner == user or user.user_type == 1 %}
                                <a style="float:right" href="#" class="fa fa-trash"></a>
                                <a style="float:right" href="{% url 'dog-update' dog.slug %}" class="fa fa-pencil"></a>
                            {% endif %}
                            <h4>{{ dog.nickName }}</h4>
                            <p class="article-content">{{ dog.breed }} | {{ dog.birthdate }}</p>
                            <div>
                              </div>
                        </div>
                    </div>
                {% endfor %}
                </div>
                <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'dog-create' %}">Add Dog</a>
            </div>
        </div>
    </div>

{% endif %}

{% endblock content %}