{% extends "mainsite/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="col-md-12">
    <div class="content-section">
        <div class="media">
            <img class="rounded-circle account-img" src="{{ user.profile.profile_image.url }}">
            <div class="media-body">
                <h2 class="account-heading">{{ user.username }}</h2>
                <p class="text-secondary">facility</p>
            </div>
        </div>

        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Profile Info</legend>
                {{ u_form|crispy }}
                {{ p_form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Save</button>
            </div>
        </form>
    </div>
</div>
{% endblock content %}