{% extends "mainsite/base.html" %}

{% block content %}
<div class="col-md-12">
<article class="media content-section">
    <div class="media-body">
        <h1>About the Site</h1>
    </div>
</article>

<article class="media content-section">
    <div class="media-body">
        <h4>About Kennel Log</h4>
        <p class="article-content">Kennel Log is a Python web application that allows dog daycare and boarding facilities to manage their clientele, assist employees with their daily schedules and tasks, track dog care, and organize operations.
            
            The main features of Kennel Log revolve around automating organization and scheduling in a dog care facility. Facilities will be able to specify preferences, bounds, and policies that will auto-generate tasks for employees to complete as well as daily schedules for employees and dogs staying at the facility. Dog owners will be able to request reservations for their dogs at facilities for daycare and boarding, communicate with staff, and maintain profiles for their dogs’ information. In an ideal deployment of Kennel Log in a dog care facility, the facility’s admin account would be logged in and used by the owner or manager in the front office, while employees connect through tablets or cell phones carried with straps, which would also be sold through the website. 
        
        </p>
        <hr class="solid">
        <h4>Future Features</h4>
        <p class="article-content">In the future, Kennel Log will be expanded to include user features such as livestreams of the facility shareable with dog owners, custom-made tablet straps for use in facility daily oeprations, and tablets for facility use.
        
        </p>
        <hr class="solid">
        <h4>The Team</h4>
        <p class="article-content">The Kennel Log team currently consists of just me, Samantha Luke. I'm a college student employed part-time as a software engineer. Dogs are and always have been an enormous part of my life, and I've always been interested in the dog care industry and the welfare of my dogs. Although Kennel Log is originally being created as a Senior Project in college, the mission to improve the dog care industry is one that is important to me.</p>
    </div>
</article>
</div>
{% endblock content %}