{% load static %}
<!DOCTYPE html>
<html>
<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'mainsite/main.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    {% if title %}
        <title>Kennel Log - {{ title }}</title>
    {% else %}
        <title>Kennel Log</title>
    {% endif %}
</head>

<body>
    <header class="site-header">
      <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
        <div class="container">
          <a class="navbar-brand mr-4" href="{% url 'site-home' %}">KENNEL LOG</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarToggle">
            <div class="navbar-nav mr-auto">
              {% if user.profile.user_type == 1 %}
                <a class="nav-item nav-link" href="{% url 'employee-home' %}">Dashboard</a>
              {% elif user.profile.user_type == 2 %}
                <a class="nav-item nav-link" href="{% url 'site-home' %}">Dashboard</a>
              {% elif user.profile.user_type == 0 %}
                <a class="nav-item nav-link" href="{% url 'facility-home' %}">Dashboard</a>
              {% else %}
                <a class="nav-item nav-link" href="{% url 'site-home' %}">Home</a>
                <a class="nav-item nav-link" href="{% url 'site-about' %}">About</a>
                <a class="nav-item nav-link" href="{% url 'site-contact' %}">Contact</a>
              {% endif %}
            </div>
            <!-- Navbar Right Side -->
            <div class="navbar-nav">
              {% if user.is_authenticated %}
                  {% if user.profile.user_type == 0 %}
                      <a href="{% url 'create-admin-message' %}" class="fa fa-pencil" style="color: white; margin-top: 11px; margin-right: 10px;"></a>
                  {% elif user.profile.user_type == 1 %}
                      {% if unreadMessages %}
                          <a href="#" class="fa fa-bell" style="color: red; margin-top: 11px; margin-right: 10px;"></a>
                      {% else %}
                          <a href="#" class="fa fa-bell" style="color: white; margin-top: 11px; margin-right: 10px;"></a>
                      {% endif %}
                  {% endif %}
                      <div class="dropdown">
                        <a class="nav-item nav-link" href="{% url 'user-profile' user.profile.slug %}">{{ user.username }}</a>
                        <div class="dropdown-content">
                          <a href="{% url 'profile' %}">Profile Settings</a>
                          <a href="{% url 'logout' %}">Logout</a>
                        </div>
                      </div>
              {% else %}
                  <a class="nav-item nav-link" href="{% url 'login' %}">Login</a>
                  <a class="nav-item nav-link" href="{% url 'register' %}">Register</a>
              {% endif %}
            </div>
          </div>
        </div>
      </nav>
    </header>

    <main role="main" class="container">
      <div class="row">
        {% if title == 'Home' %}
            <div class="col-md-12">
              <article class="media content-section">
                <img src="/media/homebanner.png" alt="header" style="width:100%">
              </article>
            </div>
        {% endif %}
        
        <div class="col-md-12">
          {% if messages %}
            {% for message in messages %}
              <div class="alert alert-{{ message.tags }}">
                {{ message }}
              </div>
              {% endfor %}
          {% endif %}
          {% block content %}{% endblock %}
        </div>
      </div>
    </main>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>