{% extends "mainsite/base.html" %}

{% block content %}
<div class="col-md-12">
<article class="media content-section">
    <div class="media-body">
        <h2>Contact the Team</h2>
    </div>
</article>

</div>
{% endblock content %}