{% extends "mainsite/base.html" %}
{% block content %}
    <article class="media content-section">
        <div class="media-body">
            <div class="article-metadata">
                <h2>Welcome to Kennel Log!</h2>
            </div>
                <p class="article-content">Kennel Log is a Python web application that allows dog daycare and boarding facilities to manage their clientele, assist employees with their daily schedules and tasks, track dog care, and organize operations. 
                      
                  The target users for Kennel Log are medium-scale dog daycare and boarding facilities looking to centralize their records/care tracking and scale up their daily operations. Kennel Log is a subscription-based service that is accessed through the web app and costs a monthly use fee of around $10-$50 per facility. A single license gives the facility the ability to add employee accounts and dog records to their facility account and access to the entire library of tools. Dog owners can create free accounts to connect with the facility to make reservations and manage their dogs’ profiles. 
                  
                  The main features of Kennel Log revolve around automating organization and scheduling in a dog care facility. Facilities will be able to specify preferences, bounds, and policies that will auto-generate tasks for employees to complete as well as daily schedules for employees and dogs staying at the facility. Dog owners will be able to request reservations for their dogs at facilities for daycare and boarding, communicate with staff, and maintain profiles for their dogs’ information. 
                  
                  In an ideal deployment of Kennel Log in a dog care facility, the facility’s admin account would be logged in and used by the owner or manager in the front office, while employees connect through tablets or cell phones carried with straps, which would also be sold through the website. In the future, the admin account would also have access to live video streams of the facility to monitor activity and users would be able to access live video streams of play areas to check in on their dogs.
                </p>
        </div>
    </article>
{% endblock content %}